* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
}
.hiddenlink{
    text-decoration: none;
    color: black;
}


h2{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.error{
    color: red;
    font-size: medium;
}

.info{
    font-size: large;
    margin: 20px;
}

form{
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    width: fit-content;
}

input{
    width: 100%;
    justify-self: center;
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    border: black 1px solid;
}

.hint{
    height: auto;
    width: 100%;
}

.grid23{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 700px;
    margin: auto;
}

.hint p{
    visibility: hidden;
}

.hint:hover p{
    visibility: visible;
}

.start{
    margin-top: 50px;
}

.start:hover {
    background-color: gray;
}