<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finish.css') }}">
    <title>Баба Тома</title>
</head>
<body>
    <h2>Ура! Конец! Молодец!!!!</h2>
    <p style="width: 80%; margin: auto; background-color: aliceblue; border-radius: 5px; border: black solid 5px; padding: 5px">Ты прошла все уровни! Больше мучиться не надо. Поздравляем тебя с днем рождения и с юбилеем! Желаем тебе всего наилучшего – счастья, здоровья, и поскорее увидеться.</p>

    <img src="{{ url_for('static', filename='/img/finish.jpg')}}" style="width:500px; border: black solid 5px; margin-top: 20px; border-radius: 5px;" alt="black">

    <p style="width: fit-content; margin: auto; background-color: aliceblue; border-radius: 5px; border: black solid 3px; padding: 5px">От Сёмы и Стёпы</p>
</body>
</html>