<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Баба Тома</title>
</head>
<body>
    <h2>Привет Баба Тома!!!</h2>
    <p style="width: 90%; margin: auto;">Стёпа и Сёма решили тебя сегодня помучить. Тебе надо пройти 10 уровней. Некоторые – не простые, так-что не бойся просить подсказки. Нужно найти 10 кодов. Все коды состоят из русских букв и символов.</p>
    <form action="/lvl1" method="POST">
        <input class="start" type="submit" value="Начать!">
    </form>
</body>
</html>