<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Уровень 2</title>
    <!-- Brightness -->
</head>
<body>
    <h2>Уровень 2</h2>
    <p class="info">
        Загрузи эту картинку на телефон и поиграй с яркостью:
    </p>
    <img src="{{ url_for('static', filename='/img/black.png')}}" style="width:200px;" alt="black">
    <p class="error">
        {% if  error %}
            {{error}}
        {% endif  %}
    </p>
    <form action="/lvl3" method="POST" autocomplete="off">
        <input type="text" name="code" placeholder="Введи код">
        <input type="submit" value="Далее">
    </form>
</body>
</html>