<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Уровень 3</title>
    <!-- Song -->
</head>
<body>
    <h2>Уровень 3</h2>
    <p class="info">
        🎵 (1) мир придуман не мной 🎵
    </p>
    <p class="info">
        🎵 Ты его (2)-то придумал сам 🎵
    </p>
    <p class="info">
        🎵 Кто-то простит кто-то (3) 🎵
    </p>
    <p class="info">
        🎵 (4) песенки мои все знает наизусть 🎵
    </p>
    <p class="info">
        🎵 Сейчас со всей мочи завою с тоски - никто не (5). 🎵
    </p>
    <p class="info">
        🎵 Я играю в гонки с мусорами, это (6) не вечно 🎵
    </p>
    <p class="info">
        🎵 (4) (6) (3) (2) (5) (1) _ _ _ _ _ _ _ _ _ _ _ 🎵
    </p>
    <p class="error">
        {% if  error %}
            {{error}}
        {% endif  %}
    </p>
    <form action="/lvl4" method="POST" autocomplete="off">
        <input type="text" name="code" placeholder="Введи код">
        <input type="submit" value="Далее">
    </form>
</body>
</html>