<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Уровень 6</title>
</head>
<body>
    <h2>Уровень 6</h2>
    <p class="info">
        sdfsfasdffds
    </p>
    <p class="error">
        {% if  error %}
            {{error}}
        {% endif  %}
    </p>
    <form action="/lvl7" method="POST" autocomplete="off">
        <input type="text" name="code" placeholder="Введи код">
        <input type="submit" value="Далее">
    </form>
</body>
</html>